ai2thor==2.1.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
compound-word-splitter==0.4
cycler==0.11.0
docopt==0.6.2
emoji==1.7.0
etaprogress==1.1.1
filelock==3.6.0
Flask==2.1.1
fonttools==4.32.0
gitdb==4.0.9
GitPython==3.1.27
gtimer==1.0.0b5
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
jsonpickle==1.5.2
kiwisolver==1.4.2
lmdb==1.3.0
MarkupSafe==2.1.1
matplotlib==3.5.1
munch==2.5.0
networkx==2.6.3
numpy==1.21.5
opencv-python==4.5.5.64
packaging==21.3
pandas==1.3.5
pickle5==0.0.12
Pillow==9.1.0
progressbar2==4.0.0
protobuf==3.20.0
py-cpuinfo==8.0.0
pyenchant==3.2.2
pyparsing==3.0.8
python-dateutil==2.8.2
python-utils==3.1.0
pytz==2022.1
PyYAML==6.0
requests==2.27.1
revtok==0.0.3
sacred==0.8.2
scikit-video==1.1.11
scipy==1.7.3
six==1.16.0
smmap==5.0.0
stanza==1.3.0
tensorboardX==1.8
termcolor==1.1.0
torch==1.7.1
torchvision==0.8.2
tqdm==4.64.0
typing_extensions==4.1.1
urllib3==1.26.9
vocab==0.0.5
Werkzeug==2.1.1
wrapt==1.14.0
zipp==3.8.0
